<%- include('partials/header.ejs'); -%>

<body class="bg-body-tertiary"></body>

<div class="container">
  <main class="mb-5">
    <div class="py-5 text-center">
      <h2>Search Results</h2>
      <p class="lead">Here are the results from your search. Pick a book to continue to the details page, or go back to add the information manually.</p>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <% books.map((book, i) => { %>
            <div class="card flip-card mx-2">
              <form class="card flip-card" action="/books/add/<%=book.id%>" method="post">
              <input type="image" class="object-fit-cover" src="<%=book.volumeInfo.imageLinks.thumbnail%>" id="<%=book.id%>">
              <div class="card-body">
              <p class="card-text mb-0"><strong>Title: </strong><%=book.volumeInfo.title%></p>
              <p class="card-text mt-0"><strong>Author: </strong><%=book.volumeInfo.authors%></p>
              </div>
              </form>
              </div>
          <% }) %>
      </div>
    </div>
  </main>
</div>

<%- include('partials/footer.ejs'); -%>