<%- include('partials/header.ejs'); -%>


<main class="flex-shrink-0">
    <div class="container">
      <h2 class="mt-5">Past Years</h1>
        <% if (locals.error) { %>
          <h5 class="error-message"><%= error %></h5>
          <% } else { %> 
      <div class="d-flex flex-row p-2 gap-4 py-md-3 align-items-center justify-content-center">
        <% years.forEach(year => { %>
          <div class="card" onclick="location.href='years/<%=year.acaYear%>'" style="width: 20rem; background-color: #228b2280;">
            <div class="card-body">
              <h2 class="card-title" style="text-align: center"><%=year.acaYear%></h2>
              <p style="text-align: center;"> <%=year.nBooks%> <%= year.nBooks === 1 ? "book" : "books" %> recommended</p>
            </div>
          </div>
        <% }) %>
      </div>
      <% } %>
    </div>
</main>


<%- include('partials/footer.ejs'); -%>